.edit {
  --padding: 10px;

  display: flex;
  flex-direction: column;
  height: 90vh;
  margin: 5rem auto 0 auto;
  max-width: 900px;
  background-color: #e9e1d1;
  border-radius: 10px;
  padding: 1rem;
  /* box-shadow: 4px 4px #ab86c7db; */
  border: 3px solid #b7a5a5;
}

.edit__header {
  padding: var(--padding);
}

.edit__body {
  flex-grow: 1;
}

.edit__textarea {
  width: 100%;
  height: 100%;
}